{{> adminHeader}}

<div class="container mt-5">
  <h2>Registered Users</h2>

  {{#if error}}<div class="alert alert-danger">{{error}}</div>{{/if}}

  <table class="table table-bordered table-hover mt-3">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Date Registered</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.firstname}} {{this.lastname}}</td>
        <td>{{this.username}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.created_at}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{> adminFooter}}
